body {
  font-family: "Ubuntu", sans-serif;
}

section {
  height: 100vh;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.03);
}

.navbar-collapse {
  position: absolute;
  top: 10px;
  right: 35px;
}

/* HOME */

.intro_text {
  padding: 30vh 0 0 10vh;
  font-family: "Mali", cursive;
  /* font-family: 'Pacifico', cursive; */
  font-size: 400%;
}

.img_phone {
  position: absolute;
  top: 10vh;
  right: 10vh;
  height: 85vh;
  z-index: 2;
  opacity: 0.7;
}

.img_browser {
  position: absolute;

  top: 26vh;
  left: 83vh;
  right: 30vh;
  height: 53vh;
  z-index: 3;
  opacity: 0.9;
}

/* DESPRIPTION */

#description {
  background-color: rgba(18, 239, 245, 0.1);
}

.img_shantanu {
  position: absolute;
  top: 130vh;
  left: 30vh;
  height: 40vh;
  border-radius: 5vh;
}

.name_text {
  position: absolute;
  top: 138vh;
  left: 93vh;
  z-index: 4;
}

.description_text {
  position: absolute;
  top: 145vh;
  left: 93vh;
  right: 33vh;
  z-index: 4;
}

.img_browser_description {
  position: absolute;
  top: 126vh;
  left: 83vh;
  right: 30vh;
  height: 53vh;
  z-index: 3;
  opacity: 0.5;
}

/* PROJECTS */

#projects {
  background-color: #307672;
}

.projectsTitle {
  position: absolute;
  top: 214vh;
  left: 15vh;
  font-family: "Mali", cursive;
  color: rgb(18, 239, 245);
  font-size: 400%;
}

.gameCardRow {
  position: absolute;
  top: 212vh;
  right: 20vh;
}

.gameCard {
  margin: 2vh;
  padding: 3vh 3vh 0vh 3vh;
  background-color: rgba(18, 239, 245, 0.4);
  border-radius: 2vh;
  width: 20vh;
}

.gameCard img {
  align-self: center;
  height: 10vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.gameCard p {
  padding-top: 2vh;
  color: black;
  text-align: center;
}

.projectCardRow {
  padding-top: 40vh;
}

.projectCard {
  margin: 2vh;
  padding: 3vh 3vh 0vh 3vh;
  background-color: rgba(18, 239, 245, 0.4);
  border-radius: 2vh;
  width: 45vh;
}

.projectCard img {
  height: 35vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.projectCard p {
  padding-top: 2vh;
  color: black;
  text-align: center;
}

/* Skills */

#skills {
  background-color: rgba(18, 239, 245, 0.1);
}

.skillsText {
  text-align: center;
  font-family: "Mali", cursive;
  padding-top: 10vh;
  color: #307672;
  font-size: 400%;
}

.skillsRowBig {
  width: 100vw;
  justify-content: center;
  display: flex;
}

.skillsImageBigCenter {
  height: 30vh;
  margin: 5vh;
}

.skillsImageBigSide {
  height: 20vh;
  align-self: center;
  margin: 10vh;
}

#skills p {
  margin: 5vh 15vh 0 15vh;
  top: 340vh;
  text-align: center;
  font-size: 30px;
  color: #307672;
  word-spacing: 5.5vh;
}

/* Achievements */

#achievements {
  background-color: #307672;
}

.achievementsText {
  text-align: center;
  font-family: "Mali", cursive;
  padding-top: 10vh;
  color: rgb(18, 239, 245);
  font-size: 400%;
}

.githubDiv {
  margin: 5vh 5vw;
}

.githubbg {
  width: 90vw;
}

.github {
  position: absolute;
  top: 439vh;
  left: 35vw;
  right: 35vw;
  width: 30vw;
  opacity: 0.1;
}

.githubChart {
  left: 6vw;
  right: 6vw;
  position: absolute;
  top: 435vh;
  width: 88vw;
}

.certificateCardRow {
  /* position: absolute;
  top: 212vh;
  right: 20vh; */
  margin-left: 5vw;
}

.certificateCard {
  margin-right: 1.9vw;
  padding: 3vh;
  background-color: white;
  border-radius: 2vh;
  width: 21vw;
}

.certificateCard img {
  align-self: center;
  width: 7vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.certificateCard p {
  padding: 2vh;
  color: black;
}

/* Socials */

#socials {
  background-color: rgba(18, 239, 245, 0.1);
}

.socials_text {
  padding: 20vh;
  font-size: 30px;
  text-align: center;
  word-spacing: 15px;
  color: #307672;
}

#socials div{
  justify-content: center;
}

#socials i{
  margin-inline: 2vw;
}