body {
  font-family: "Ubuntu", sans-serif;
}

section {
  height: 100vh;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.03);
}

.navbar-collapse {
  position: absolute;
  top: 10px;
  right: 35px;
}

/* HOME */

.intro_text {
  padding: 30vh 0 0 10vh;
  font-family: "Mali", cursive;
  /* font-family: 'Pacifico', cursive; */
  font-size: 400%;
}

.img_phone {
  position: absolute;
  top: 10vh;
  right: 10vh;
  height: 85vh;
  z-index: 2;
  opacity: 0.7;
}

.img_browser {
  position: absolute;

  top: 26vh;
  left: 83vh;
  right: 30vh;
  height: 53vh;
  z-index: 3;
  opacity: 0.9;
}

/* DESPRIPTION */

#description {
  background-color: rgba(18, 239, 245, 0.1);
}

.img_shantanu {
  position: absolute;
  top: 130vh;
  left: 30vh;
  height: 40vh;
  border-radius: 5vh;
}

.name_text {
  position: absolute;
  top: 138vh;
  left: 93vh;
  z-index: 4;
}

.description_text {
  position: absolute;
  top: 145vh;
  left: 93vh;
  right: 33vh;
  z-index: 4;
}

.img_browser_description {
  position: absolute;
  top: 126vh;
  left: 83vh;
  right: 30vh;
  height: 53vh;
  z-index: 3;
  opacity: 0.5;
}

/* PROJECTS */

#projects {
  background-color: #307672;
}

.projectsTitle{
  position: absolute;
  top: 214vh;
  left: 15vh;
  font-family: "Mali", cursive;
  color:  rgb(18, 239, 245);
  font-size: 400%;
}

.gameCardRow {
  position: absolute;
  top: 212vh;
  right: 20vh;
}

.gameCard {
  margin: 2vh;
  padding: 3vh 3vh 0vh 3vh;
  background-color: rgba(18, 239, 245, 0.4);
  border-radius: 2vh;
  width: 20vh;
}

.gameCard img {
  align-self: center;
  height: 10vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.gameCard p {
  padding-top: 2vh;
  color: black;
  text-align: center;
}

.projectCardRow {
  padding-top: 40vh;
}

.projectCard {
  margin: 2vh;
  padding: 3vh 3vh 0vh 3vh;
  background-color: rgba(18, 239, 245, 0.4);
  border-radius: 2vh;
  width: 45vh;
}

.projectCard img {
  height: 35vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.projectCard p {
  padding-top: 2vh;
  color: black;
  text-align: center;
}
