::-webkit-scrollbar {
  width: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  width: 100vw;
  overflow-x: hidden;
  height: 700vh;
}

section {
  height: 100vh;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.03);
}

.navbar-collapse {
  position: absolute;
  top: 10px;
  right: 35px;
}

/* HOME */

#home div {
  display: inline-block;
}

.backgroundImage{
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
}

.intro_text {
  position: absolute;
  bottom: 24px;
  left: 64px;
  font-size: 400%;
  color: #e6fefe;
  text-shadow: -2px -2px 4px rgba(0, 0, 0, 0.5);
}

@keyframes phone {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}

.img_phone {
  position: absolute;
  top: 10vh;
  right: 10vh;
  height: 85vh;
  z-index: 2;
  opacity: 0;
  animation-name: phone;
  animation-duration: 6s;
  animation-fill-mode: forwards;
}

@keyframes browser {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}

.img_browser {
  position: absolute;
  top: 26vh;
  left: 83vh;
  right: 30vh;
  height: 53vh;
  z-index: 3;
  opacity: 0;
  animation-name: browser;
  animation-duration: 2.33s;
  animation-delay: 2.1s;
  animation-fill-mode: forwards;
}

/* DESPRIPTION */

#description {
  background-color: rgba(18, 239, 245, 0.1);
}

.img_shantanu {
  position: absolute;
  top: 130vh;
  left: 30vh;
  height: 40vh;
  border-radius: 5vh;
}

.name_text {
  position: absolute;
  top: 138vh;
  left: 93vh;
  z-index: 4;
}

.description_text {
  position: absolute;
  top: 147vh;
  left: 93vh;
  right: 33vh;
  z-index: 4;
}

.img_browser_description {
  position: absolute;
  top: 126vh;
  left: 83vh;
  right: 30vh;
  height: 53vh;
  z-index: 3;
  opacity: 0.5;
}

/* PROJECTS */

#projects {
  background-color: #307672;
}

.projectsTitle {
  position: absolute;
  top: 220vh;
  left: 15vh;
  font-family: "Mali", cursive;
  color: #e6fefe;
  font-size: 400%;
}

.gameCardRow {
  position: absolute;
  top: 212vh;
  right: 20vh;
}

.gameCard {
  margin: 2vh;
  padding: 3vh 3vh 0;
  background-color: #e6fefe;
  border-radius: 2vh;
  width: 20vh;
}

.gameCard img {
  align-self: center;
  height: 10vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.gameCard p {
  padding-top: 2vh;
  color: black;
  text-align: center;
}

.projectCardRow {
  padding-top: 40vh;
}

.projectCard {
  margin: 2vh;
  padding: 3vh 3vh 0;
  background-color: #e6fefe;
  border-radius: 2vh;
  width: 45vh;
}

.projectCard img {
  height: 35vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.projectCard p {
  padding-top: 2vh;
  color: black;
  text-align: center;
}

/* Skills */

#skills {
  background-color: rgba(18, 239, 245, 0.1);
}

.skillsText {
  text-align: center;
  font-family: "Mali", cursive;
  padding-top: 10vh;
  color: #307672;
  font-size: 400%;
}

.skillsRowBig {
  margin-top: 5vh;
  width: 100vw;
  justify-content: center;
  display: flex;
}

.skillsImageBigCenter {
  height: 20vh;
  margin: 5vh;
}

.skillsImageBigSide {
  height: 10vh;
  align-self: center;
  margin: 10vh;
}

#skills p {
  font-size: 23px;
  text-align: center;
  color: #307672;
  line-height: 6vh;
  margin: 5vh 10vw 0;
  top: 340vh;
  word-spacing: 15px;
}

/* Achievements */

#achievements {
  background-color: #307672;
}

.achievementsText {
  text-align: center;
  font-family: "Mali", cursive;
  padding-top: 10vh;
  color: #e6fefe;
  font-size: 400%;
}

.githubDiv {
  margin: 5vh 5vw;
}

.githubbg {
  width: 90vw;
}

.github {
  position: absolute;
  top: 439vh;
  left: 35vw;
  right: 35vw;
  width: 30vw;
  opacity: 0.05;
}

.githubChart {
  left: 6vw;
  right: 6vw;
  position: absolute;
  top: 435vh;
  width: 88vw;
}

.certificateCardRow {
  margin-left: 5vw;
}

.certificateCard {
  margin-right: 1.9vw;
  padding: 3vh;
  background-color: white;
  border-radius: 2vh;
  width: 21vw;
}

.certificateCard img {
  margin: 0 1vw;
  align-self: center;
  width: 7vw;
  display: block;
}

.certificateCard p {
  padding: 2vh;
  color: black;
}

/* Socials */

#socials {
  background-color: rgba(18, 239, 245, 0.1);
}

#socials p {
  font-size: 20px;
  text-align: center;
  color: #307672;
  line-height: 6vh;
  padding-top: 25vh;
  word-spacing: 15px;
}

#socials div {
  justify-content: center;
}

#socials i {
  margin-top: 13vh;
  margin-inline: 2vw;
}
.fa-linkedin {
  color: #0a66c2;
}

.fa-github {
  color: #24292e;
}

.fa-hackerrank {
  color: #34a863;
}

.fa-instagram {
  color: #d23876;
}

.socialsBg {
  position: absolute;
  height: 20vh;
}

.img_wheel {
  overflow: hidden;
  top: 510vh;
  right: -3vw;
  transform: rotate(15deg);
  opacity: 0.2;
}

.img_cube {
  overflow: hidden;
  top: 560vh;
  left: -1vw;
  transform: rotate(45deg);
  opacity: 0.1;
}

#socials .fa-keyboard {
  overflow: hidden;
  top: 575vh;
  right: 10vw;
  transform: rotate(-10deg);
  opacity: 0.1;
}

.text-keyboard {
  overflow: hidden;
  top: 585vh;
  right: 13.7vw;
  transform: rotate(-10deg);
  opacity: 0.3;
}

/* Feedback */

#feedback {
  background-color: rgba(18, 239, 245, 0.1);
  padding-top: 5vh;
}

/* .feedbackTitle {
  text-align: center;
  font-family: "Mali", cursive;
  padding-top: 8vh;
  color: #307672;
  font-size: 200%;
}

.feedbackCardRow {
  margin-bottom: 10vh;
}

.feedbackCard {
  margin: 2vh;
  padding: 3vh;
  background-color: rgba(18, 239, 245, 0.4);
  border-radius: 2vh;
  width: 45vw;
  height: 18vh;
}

.feedbackAuthor {
  position: absolute;
  right: 3vh;
  bottom: 0;
} */

#feedback .fa-lightbulb {
  position: absolute;
  overflow: hidden;
  top: 615vh;
  left: 20vw;
  transform: rotate(-20deg);
  opacity: 0.1;
}

#feedback .fa-palette {
  position: absolute;
  overflow: hidden;
  top: 650vh;
  right: 10vw;
  opacity: 0.1;
}

#feedback .fa-feather-alt {
  position: absolute;
  overflow: hidden;
  top: 675vh;
  left: 10vw;
  opacity: 0.1;
}
.endNote {
  font-size: 20px;
  color: #307672;
  font-family: "Mali", cursive;
  text-align: center;
  padding: 5vh;
}

.footerNote {
  position: absolute;
  top: 682vh;
  width: 100vw;
  font-size: 20px;
  color: #307672;
  font-family: "Mali", cursive;
  text-align: center;
}
